{% extends 'base.html' %}
{% block content %}
{% if available_books_count > 0 %}
    <h4>No. of books available for issuing: {{ available_books_count }}</h4>
{% else %}
    <h4>There are no books available for issuing right now!</h4>
{% endif %}
    <div class="container">
        <div class="book-list">
            {% for book in available_books %}
                <div style="margin: 5%">
                    <img src="{{ book.image.url }}" height=200/>
                    <h4>{{ book.name }} | {{ book.author }}</h4>
                </div>
                <div>
                    <p class="summary">{{ book.summary }}</p>
                    <a href="{% url 'IssueBook' book.id %}">Issue</a>
                </div>
            {% endfor %}
        </div>
        <div style="text-align:center;">
            <h4 style="text-align:center">My Issued Books</h4>
            {% for book in issued_books %}
                <img src="{{ book.image.url }}" height=100/>
                <p>{{ book.name }} | {{ book.author }}</p>
                <a href="{% url 'ReturnBook' book.id %}">Return</a>
                <br><br>
            {% endfor %}
        </div>
    </div>
{% endblock content %}